<!doctype html>
<html lang="en" ng-app = "musicApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
   <script src="js/controllers.js" ></script>
</head>
<body ng-controller="SearchController as searchCtrl" >

<!--<div ng-controller="Hello">-->
    <!--<p>The ID is {{greeting.id}}</p>-->
    <!--<p>The content is {{greeting.content}}</p>-->
<!--</div>-->

<div >
    <form name="bandSearch" ng-submit="searchCtrl.findArtist()">
        <p>Searching for {{searchCtrl.searchString}}</p>
    <input type="text" ng-model="searchCtrl.searchString" class="form-control" placeholder="Search for a band to start"/>
            <input type="submit" class="btn btn-primary pull-right" value="Search!" />
    </form>

    <p>You've searched for:</p>
    <ul ng-repeat="search in searchCtrl.searchHistory">
       <li> {{search}}</li>
    </ul>


    <p>Results</p>
    <ul ng-repeat="artist in searchCtrl.searchResults.artists.items">
        <li>Name: {{artist.name}}</li>
    </ul>


</div>
    <!--<form name="alert" ng-controller="AlertController as AlertCtrl" ng-submit="AlertCtrl.alert()">-->
    <!--<input type="submit" value="ALERT!"/>-->
    <!--</form>-->


    <!--<p>{{"List of " + "bands"}}</p>-->
<!--<ul>-->
<!--<li ng-repeat="band in bands">-->
      <!--<span>{{band.name}}</span>-->
      <!--<p>{{band.genre}}</p>-->
<!--</li>-->
<!--</ul>-->

</body>
</html>
